/* src/App.css */

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.App-header {
  background: #007bff;
  color: white;
  padding: 2vw;
  border-radius: 0.5vw;
  text-align: center;
  width: 80%;
}

.container {
  background: white;
  padding: 2vw;
  max-width: 80%;
  margin: 2vh auto;
  border-radius: 0.8vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

form > div {
  margin-bottom: 1.5vw;
}

label {
  margin-bottom: 0.5vw;
  font-weight: bold;
}

input {
  padding: 1vw;
  border: 0.1vw solid #ccc;
  border-radius: 0.4vw;
  font-size: 1vw;
}

button {
  padding: 1vw 1.5vw;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 0.4vw;
  font-size: 1.6vw;
}

button:hover {
  background: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f9f9f9;
  padding: 1vw;
  border: 0.1vw solid #ddd;
  border-radius: 0.4vw;
  margin-bottom: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  padding: 0.5vw 1vw;
  background: #ffc107;
  border: none;
  border-radius: 0.4vw;
  cursor: pointer;
  font-size: 1.4vw;
}

li button:hover {
  background: #e0a800;
}

@media (max-width: 768px) {
  .App-header, .container {
    width: 90%;
  }

  button, input {
    font-size: 3vw;
  }

  li button {
    font-size: 3vw;
  }
}

@media (max-width: 480px) {
  .App-header, .container {
    width: 95%;
  }

  button, input {
    font-size: 4vw;
  }

  li button {
    font-size: 4vw;
  }
}

.product-form {
  background: #fff;
  padding: 1rem;
  max-width: 100%;
  width: 500px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.product-form input, .product-form button {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}